*.java
*.class
notes.txt
.idea
*.jar
*.iml
out
node_modules

# Samples
sample/python/*/SFS3_API_PY.py
sample/nodejs/*/SFS3_API_Node.js
sample/js/*/SFS3_API_JS.js
sample/as3/*/SFS3_API_AS3.swc
sample/as3/*/*.swf